<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Reescribir URL Parcial1 a Carpeta Real" stopProcessing="false">
                    <match url="^parcial1/([a-zA-Z]{2}\d{5})(/.*)?$" />
                    <action type="Rewrite" url="/{R:1}" />
                </rule>
                <rule name="Redirect compañero" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="gm21057\.www2\.nexus\.tpi" />
                    </conditions>
                    <action type="Redirect" url="https://gm21057.nexus.tpi/{R:0}/" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
        <httpErrors errorMode="Custom">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" path="/404.html" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>

